﻿body {
    margin-top: 10px;
}

.titleForm {
    background-color: darkorange;
    height: 50px;
}

.white-font {
    color: white;
    top: 15px;
    position: relative;
}

.form-label {
    color: red;
    font-size: small;
}

.container {
    margin: 10px;
    width: 99%;
}

.form-cell{
    margin-top: 8px;
}