﻿<form data-ng-submit="sendUser(user)" name="formUserControl">
    <div class="row">
        <div class="col-xs-12 titleForm">
            <strong class="white-font">A. BROKER INFO</strong>
        </div>
    </div>
    <div class="row">
        <div class="form-cell col-xs-2">
            <div class="text-left form-label">2.C First Name</div>
            <input type="text" class="form-control" data-ng-model="user.firstName" />
        </div>
        <div class="form-cell col-xs-2">
            <div class="text-left form-label">2.D Middle Name</div>
            <input type="text" class="form-control" data-ng-model="user.middleName" />
        </div>
        <div class="form-cell col-xs-2">
            <div class="text-left form-label">2.E Last Name</div>
            <input type="text" class="form-control" data-ng-model="user.lastName" />
        </div>
        <div class="form-cell col-xs-2">
            <div class="text-left form-label">Nickname</div>
            <input type="text" class="form-control" data-ng-model="user.nickname" />
        </div>
        <div class="form-cell col-xs-1">
            <div class="text-left form-label">DOB</div>
            <input type="text" class="form-control" data-ng-model="user.dob" />
        </div>
        <div class="form-cell col-xs-1">
            <div class="text-left form-label">Nationality</div>
            <select class="form-control" data-ng-model="nationality">
                <option>US</option>
                <option>MX</option>
            </select>
        </div>
        <div class="form-cell col-xs-2">
            <div class="text-left form-label">Relationship</div>
            <select class="form-control" data-ng-model="user.relationship">
                <option>Friend</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="form-cell col-xs-1">
            <div class="text-left form-label">Type</div>
            <select class="form-control" data-ng-model="user.type">
                <option>Office</option>
                <option>From home</option>
            </select>
        </div>
        <div class="form-cell col-xs-3">
            <div class="text-left form-label">3.B Address</div>
            <input type="text" class="form-control" data-ng-model="user.addres" />
        </div>
        <div class="form-cell col-xs-2">
            <div class="text-left form-label">3.C City</div>
            <input type="text" class="form-control" data-ng-model="user.city" />
        </div>
        <div class="form-cell col-xs-1">
            <div class="text-left form-label">3.D State</div>
            <select class="form-control" data-ng-model="user.dState">
                <option>Friend</option>
                <option>US</option>
            </select>
        </div>
        <div class="form-cell col-xs-1">
            <div class="text-left form-label">3.E Country</div>
            <input type="text" class="form-control" data-ng-model="user.eCountry" />
        </div>
        <div class="form-cell col-xs-1">
            <div class="text-left form-label">3.F Zip</div>
            <input type="text" class="form-control" data-ng-model="user.zip" />
        </div>
        <div class="form-cell col-xs-2">
            <div class="text-left form-label">3.G Population</div>
            <input type="text" class="form-control" data-ng-model="user.population" />
        </div>
        <div class="form-cell col-xs-1">
            <div class="text-left form-label">3.H Country</div>
            <select class="form-control" data-ng-model="user.hCountry">
                <option>CA</option>
                <option>FL</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="form-cell col-xs-1">
            <div class="text-left form-label">Contact Info.</div>
        </div>
        <div class="form-cell col-xs-4">
            <tags-input data-ng-model="tags">
                <auto-complete source="loadTags($query)"></auto-complete>
            </tags-input>
        </div>
    </div>
    <div class="row">
        <div class="form-cell col-xs-1 text-left">
            <input type="submit" class="form-control btn-primary" value="Sumbit" />
        </div>
    </div>
</form>